<div class="signIn">
  <h3>Sign In</h3>
  <div class="formGroup">
    <p>Email</p>
    <input type="text" class="formControl" placeholder="Email" #userName required>
  </div>

  <div class="formGroup mt-3">
    <p>Password</p>
    <input type="password" class="formControl" placeholder="Password" #userPassword required>
  </div>

  <!-- Calling SignIn Api from AuthService -->
  <div class="formGroup">
    <input type="button" class="btn btn-primary mt-3" value="Sign in" (click)="authService.SignIn(userName.value, userPassword.value)">
  </div>
</div>
