<div class="container">
  <br>
  <br>
  <br>
  <h3>Friends</h3>
  <p>Search Friends</p>
  <form [formGroup]="findForm" (ngSubmit)="find()">
    <input type="text" placeholder="Search Friends" formControlName="findStr">
    <button class="btn btn-primary" type="submit">Search</button>
  </form>
  <br>
  <h3 *ngIf="!myFriends">Search Friends: </h3>
  <h3 *ngIf="myFriends">My Friends</h3>
  <div *ngIf="peopleService.people.length; else noPeople" class="d-flex flex-column">
    <app-person *ngFor="let person of peopleService.people"
              [person]="person"
              [isFriend]=false
              class="p-2">
    </app-person>
  </div>

  <ng-template #noPeople>
    <p>There are no people</p>
  </ng-template>
</div>
