.card {
  border: 1px solid #ccc;
  margin-bottom: 1rem;
}

.card h2 {
  margin-bottom: .5rem;
}

.red {
  color: red;
}

.green {
  color: green;
}

.violet {
  padding: .5rem 1rem;
  position: static;
  left: 0px;
  top: 0px;
  background: #BDBCFF;
}

.price {
  position: static;
  text-align: right;
  color: #FFFFFF;
}

.but {
  background: #6C69FF;
}
