<div class="card">
  <div class="violet">
    <h3 class="text-white">{{card.name}}</h3>
    <p class="text-white">{{card.tag}}</p>
    <h4 class="price" *ngIf="main">{{card.price}} UAH</h4>
  </div>

  <p class="ms-2">{{card.description}}</p>

  <button class="btn btn-primary m-2 but" *ngIf="main" (click)="addToLibrary()">Add to library</button>
  <div class="btn-group" role="group" *ngIf="!main">
    <button class="btn btn-primary me-2">Download</button>
    <button class="btn btn-primary">Share</button>
  </div>
</div>
