<div class="container">

  <!--<hr>
  <div>{{filterService.someString | async | filter}}</div>
  <button (click)="go(1)">Click</button>
  <button (click)="toggleCards()">Toggle cards</button>
  <hr>-->
  <br>
  <br>
  <br>
  <h3>Games</h3>
  <p>Search games</p>
  <form>
    <input type="text" placeholder="Search games">
    <button class="btn btn-primary">Search</button>
  </form>
  <app-form></app-form>

  <!--<div *ngIf="toggle; else hiddenCards">
    <app-card *ngFor="let iterCard of cards; let idx = index"
              [card]="iterCard"
              [index]="idx + 1">
    </app-card>
  </div>-->
  <h3>Featured games</h3>
  <div class="container">
    <div class="row">
      <div class="col-10 container">

          <div *ngIf="gamesService.games.length; else noCards" class="row row-cols-1 row-cols-sm-2 row-cols-md-3">
            <app-card *ngFor="let game of gamesService.games; let idx = index"
                      [card]="game"
                      [index]="idx + 1"
                      class="col">
            </app-card>
          </div>

      </div>
      <div class="vr"></div>
      <div class="col">
        <label for="customRange" class="form-label">Filter by price</label>
        <input type="range" class="form-range" min="0" max="500" step="50" id="customRange">
        <p>Filter by tag</p>
        <div class="form-check">
          <p><input class="form-check-input" type="checkbox" name="tags" value="Indie">Indie</p>
          <p><input class="form-check-input" type="checkbox" name="tags" value="Action">Action</p>
          <p><input class="form-check-input" type="checkbox" name="tags" value="Adventure">Adventure</p>
        </div>
      </div>
    </div>
  </div>

  <!--<ng-template #hiddenCards>
    <p>Cards are hidden</p>
  </ng-template>-->

  <ng-template #noCards>
    <p>There are no games</p>
  </ng-template>

  <div>

  </div>

</div>
