<div class="profile">
  <h3>Profile</h3>
  <p class="text-danger">{{error}}</p>
  <div class="formGroup">
    <p>Username</p>
    <input type="text" class="formControl" placeholder="Username" value="{{name}}" required #userName>
  </div>

  <div class="formGroup mt-3">
    <p>Email</p>
    <input type="text" class="formControl" placeholder="Email" readonly value="{{email}}">
  </div>

  <div class="formGroup mt-3">
    <p>Age</p>
    <input type="text" class="formControl" placeholder="Age" value="{{age}}" required #userAge>
  </div>

  <div class="formGroup">
    <input type="button" class="btn btn-primary mt-3" value="Save" (click)="saveChanges(userName.value, userAge.value)">
  </div>
</div>
